name: Go CI

on:
  push:
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: 1.21

    - name: Install golangci-lint
      run: |
        curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v2.8.0

    - name: Run golangci-lint
      run: golangci-lint run ./...

    - name: Run tests with coverage
      run: |
        go test ./... -coverprofile=coverage.out -v
        go tool cover -func=coverage.out